<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.contactoPessoa.home.title">Contacto Pessoas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contacto-pessoa" [routerLink]="['/contacto-pessoa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.contactoPessoa.home.createLabel">
            Create a new Contacto Pessoa
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contactoPessoas?.length === 0">
        <span jhiTranslate="mandaApp.contactoPessoa.home.notFound">No contactoPessoas found</span>
    </div>
    <div class="table-responsive" *ngIf="contactoPessoas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoContacto"><span jhiTranslate="mandaApp.contactoPessoa.tipoContacto">Tipo Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.contactoPessoa.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contacto"><span jhiTranslate="mandaApp.contactoPessoa.contacto">Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pessoaNome"><span jhiTranslate="mandaApp.contactoPessoa.pessoa">Pessoa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactoPessoa of contactoPessoas ;trackBy: trackId">
                <td><a [routerLink]="['/contacto-pessoa', contactoPessoa.id, 'view' ]">{{contactoPessoa.id}}</a></td>
                <td>{{contactoPessoa.tipoContacto}}</td>
                <td>{{contactoPessoa.descricao}}</td>
                <td>{{contactoPessoa.contacto}}</td>
                <td>
                    <div *ngIf="contactoPessoa.pessoaId">
                        <a [routerLink]="['/pessoa', contactoPessoa.pessoaId , 'view' ]" >{{contactoPessoa.pessoaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contacto-pessoa', contactoPessoa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contacto-pessoa', contactoPessoa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(contactoPessoa)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contactoPessoas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
