<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.retencaoFonte.home.title">Retencao Fontes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-retencao-fonte" [routerLink]="['/retencao-fonte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.retencaoFonte.home.createLabel">
            Create a new Retencao Fonte
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="retencaoFontes?.length === 0">
        <span jhiTranslate="mandaApp.retencaoFonte.home.notFound">No retencaoFontes found</span>
    </div>
    <div class="table-responsive" *ngIf="retencaoFontes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="motivoRetencao"><span jhiTranslate="mandaApp.retencaoFonte.motivoRetencao">Motivo Retencao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.retencaoFonte.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="porcentagem"><span jhiTranslate="mandaApp.retencaoFonte.porcentagem">Porcentagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="detalheId"><span jhiTranslate="mandaApp.retencaoFonte.detalhe">Detalhe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="impostoCodigoImposto"><span jhiTranslate="mandaApp.retencaoFonte.imposto">Imposto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let retencaoFonte of retencaoFontes ;trackBy: trackId">
                <td><a [routerLink]="['/retencao-fonte', retencaoFonte.id, 'view' ]">{{retencaoFonte.id}}</a></td>
                <td>{{retencaoFonte.motivoRetencao}}</td>
                <td>{{retencaoFonte.valor}}</td>
                <td>{{retencaoFonte.porcentagem}}</td>
                <td>
                    <div *ngIf="retencaoFonte.detalheId">
                        <a [routerLink]="['/detalhe-lancamento', retencaoFonte.detalheId , 'view' ]" >{{retencaoFonte.detalheId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="retencaoFonte.impostoId">
                        <a [routerLink]="['/imposto', retencaoFonte.impostoId , 'view' ]" >{{retencaoFonte.impostoCodigoImposto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/retencao-fonte', retencaoFonte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/retencao-fonte', retencaoFonte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(retencaoFonte)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="retencaoFontes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
