<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-pessoa-heading" jhiTranslate="mandaApp.pessoa.home.createOrEditLabel">Create or edit a Pessoa</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.pessoa.tipoPessoa" for="field_tipoPessoa">Tipo Pessoa</label>
                    <input type="text" class="form-control" name="tipoPessoa" id="field_tipoPessoa"
                           formControlName="tipoPessoa"/>
                    <div *ngIf="editForm.get('tipoPessoa').invalid && (editForm.get('tipoPessoa').dirty || editForm.get('tipoPessoa').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoPessoa').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.pessoa.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.pessoa.nif" for="field_nif">Nif</label>
                    <input type="text" class="form-control" name="nif" id="field_nif"
                           formControlName="nif"/>
                    <div *ngIf="editForm.get('nif').invalid && (editForm.get('nif').dirty || editForm.get('nif').touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.pessoa.imagem" for="field_imagem">Imagem</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagemContentType').value + ';base64,' + editForm.get('imagem').value" style="max-height: 100px;" *ngIf="editForm.get('imagem').value" alt="pessoa image"/>
                        <div *ngIf="editForm.get('imagem').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagemContentType').value}}, {{byteSize(editForm.get('imagem').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagem', 'imagemContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagem" (change)="setFileData($event, 'imagem', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagem" id="field_imagem"
                           formControlName="imagem"/>
                    <input type="hidden" class="form-control" name="imagemContentType" id="field_imagemContentType"
                           formControlName="imagemContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.pessoa.utilizador" for="field_utilizador">Utilizador</label>
                    <select class="form-control" id="field_utilizador" name="utilizador" formControlName="utilizadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
