<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.arquivo.home.title">Arquivos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arquivo" [routerLink]="['/arquivo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.arquivo.home.createLabel">
            Create a new Arquivo
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="arquivos?.length === 0">
        <span jhiTranslate="mandaApp.arquivo.home.notFound">No arquivos found</span>
    </div>
    <div class="table-responsive" *ngIf="arquivos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.arquivo.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entidade"><span jhiTranslate="mandaApp.arquivo.entidade">Entidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo"><span jhiTranslate="mandaApp.arquivo.anexo">Anexo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoEntidade"><span jhiTranslate="mandaApp.arquivo.codigoEntidade">Codigo Entidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.arquivo.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="utilizadorLogin"><span jhiTranslate="mandaApp.arquivo.utilizador">Utilizador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let arquivo of arquivos ;trackBy: trackId">
                <td><a [routerLink]="['/arquivo', arquivo.id, 'view' ]">{{arquivo.id}}</a></td>
                <td>{{arquivo.descricao}}</td>
                <td jhiTranslate="{{'mandaApp.EntidadeSistema.' + arquivo.entidade}}">{{arquivo.entidade}}</td>
                <td>
                    <a *ngIf="arquivo.anexo" (click)="openFile(arquivo.anexoContentType, arquivo.anexo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="arquivo.anexo">{{arquivo.anexoContentType}}, {{byteSize(arquivo.anexo)}}</span>
                </td>
                <td>{{arquivo.codigoEntidade}}</td>
                <td>{{arquivo.data | date:'medium'}}</td>
                <td>
                    {{arquivo.utilizadorLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/arquivo', arquivo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arquivo', arquivo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(arquivo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="arquivos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
