<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.detalheAduaneiro.home.title">Detalhe Aduaneiros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detalhe-aduaneiro" [routerLink]="['/detalhe-aduaneiro/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.detalheAduaneiro.home.createLabel">
            Create a new Detalhe Aduaneiro
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="detalheAduaneiros?.length === 0">
        <span jhiTranslate="mandaApp.detalheAduaneiro.home.notFound">No detalheAduaneiros found</span>
    </div>
    <div class="table-responsive" *ngIf="detalheAduaneiros?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroONU"><span jhiTranslate="mandaApp.detalheAduaneiro.numeroONU">Numero ONU</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="largura"><span jhiTranslate="mandaApp.detalheAduaneiro.largura">Largura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="altura"><span jhiTranslate="mandaApp.detalheAduaneiro.altura">Altura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pesoLiquido"><span jhiTranslate="mandaApp.detalheAduaneiro.pesoLiquido">Peso Liquido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pesoBruto"><span jhiTranslate="mandaApp.detalheAduaneiro.pesoBruto">Peso Bruto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataFabrico"><span jhiTranslate="mandaApp.detalheAduaneiro.dataFabrico">Data Fabrico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataExpiracao"><span jhiTranslate="mandaApp.detalheAduaneiro.dataExpiracao">Data Expiracao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produtoNome"><span jhiTranslate="mandaApp.detalheAduaneiro.produto">Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detalheAduaneiro of detalheAduaneiros ;trackBy: trackId">
                <td><a [routerLink]="['/detalhe-aduaneiro', detalheAduaneiro.id, 'view' ]">{{detalheAduaneiro.id}}</a></td>
                <td>{{detalheAduaneiro.numeroONU}}</td>
                <td>{{detalheAduaneiro.largura}}</td>
                <td>{{detalheAduaneiro.altura}}</td>
                <td>{{detalheAduaneiro.pesoLiquido}}</td>
                <td>{{detalheAduaneiro.pesoBruto}}</td>
                <td>{{detalheAduaneiro.dataFabrico | date:'mediumDate'}}</td>
                <td>{{detalheAduaneiro.dataExpiracao | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="detalheAduaneiro.produtoId">
                        <a [routerLink]="['/produto', detalheAduaneiro.produtoId , 'view' ]" >{{detalheAduaneiro.produtoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/detalhe-aduaneiro', detalheAduaneiro.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detalhe-aduaneiro', detalheAduaneiro.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(detalheAduaneiro)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="detalheAduaneiros?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
