<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.conversaoUnidade.home.title">Conversao Unidades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conversao-unidade" [routerLink]="['/conversao-unidade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.conversaoUnidade.home.createLabel">
            Create a new Conversao Unidade
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conversaoUnidades?.length === 0">
        <span jhiTranslate="mandaApp.conversaoUnidade.home.notFound">No conversaoUnidades found</span>
    </div>
    <div class="table-responsive" *ngIf="conversaoUnidades?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valorEntrada"><span jhiTranslate="mandaApp.conversaoUnidade.valorEntrada">Valor Entrada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valorSaida"><span jhiTranslate="mandaApp.conversaoUnidade.valorSaida">Valor Saida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entradaNome"><span jhiTranslate="mandaApp.conversaoUnidade.entrada">Entrada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="saidaNome"><span jhiTranslate="mandaApp.conversaoUnidade.saida">Saida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produtoNome"><span jhiTranslate="mandaApp.conversaoUnidade.produto">Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conversaoUnidade of conversaoUnidades ;trackBy: trackId">
                <td><a [routerLink]="['/conversao-unidade', conversaoUnidade.id, 'view' ]">{{conversaoUnidade.id}}</a></td>
                <td>{{conversaoUnidade.valorEntrada}}</td>
                <td>{{conversaoUnidade.valorSaida}}</td>
                <td>
                    <div *ngIf="conversaoUnidade.entradaId">
                        <a [routerLink]="['/unidade-medida', conversaoUnidade.entradaId , 'view' ]" >{{conversaoUnidade.entradaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conversaoUnidade.saidaId">
                        <a [routerLink]="['/unidade-medida', conversaoUnidade.saidaId , 'view' ]" >{{conversaoUnidade.saidaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conversaoUnidade.produtoId">
                        <a [routerLink]="['/produto', conversaoUnidade.produtoId , 'view' ]" >{{conversaoUnidade.produtoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conversao-unidade', conversaoUnidade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conversao-unidade', conversaoUnidade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(conversaoUnidade)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="conversaoUnidades?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
