<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.meioLiquidacao.home.title">Meio Liquidacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meio-liquidacao" [routerLink]="['/meio-liquidacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.meioLiquidacao.home.createLabel">
            Create a new Meio Liquidacao
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="meioLiquidacaos?.length === 0">
        <span jhiTranslate="mandaApp.meioLiquidacao.home.notFound">No meioLiquidacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="meioLiquidacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mandaApp.meioLiquidacao.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sigla"><span jhiTranslate="mandaApp.meioLiquidacao.sigla">Sigla</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="icon"><span jhiTranslate="mandaApp.meioLiquidacao.icon">Icon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="mostrarPontoVenda"><span jhiTranslate="mandaApp.meioLiquidacao.mostrarPontoVenda">Mostrar Ponto Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meioLiquidacao of meioLiquidacaos ;trackBy: trackId">
                <td><a [routerLink]="['/meio-liquidacao', meioLiquidacao.id, 'view' ]">{{meioLiquidacao.id}}</a></td>
                <td>{{meioLiquidacao.nome}}</td>
                <td>{{meioLiquidacao.sigla}}</td>
                <td>{{meioLiquidacao.icon}}</td>
                <td>{{meioLiquidacao.mostrarPontoVenda}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/meio-liquidacao', meioLiquidacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meio-liquidacao', meioLiquidacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(meioLiquidacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="meioLiquidacaos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
