<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.escrituracaoContabil.home.title">Escrituracao Contabils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-escrituracao-contabil" [routerLink]="['/escrituracao-contabil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.escrituracaoContabil.home.createLabel">
            Create a new Escrituracao Contabil
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <input class="form-control input-sm" id="inputsm1" type="search" [(ngModel)]="filter">
    <div class="alert alert-warning" *ngIf="escrituracaoContabils?.length === 0">
        <span jhiTranslate="mandaApp.escrituracaoContabil.home.notFound">No escrituracaoContabils found</span>
    </div>
    <div class="table-responsive" *ngIf="escrituracaoContabils?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="numero"><span jhiTranslate="mandaApp.escrituracaoContabil.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="historico"><span jhiTranslate="mandaApp.escrituracaoContabil.historico">Historico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.escrituracaoContabil.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="referencia"><span jhiTranslate="mandaApp.escrituracaoContabil.referencia">Referencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entidadeReferencia"><span jhiTranslate="mandaApp.escrituracaoContabil.entidadeReferencia">Entidade Referencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="mandaApp.escrituracaoContabil.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="dataDocumento"><span jhiTranslate="mandaApp.escrituracaoContabil.dataDocumento">Data Documento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.escrituracaoContabil.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th scope="col"  jhiSortBy="utilizadorLogin"><span jhiTranslate="mandaApp.escrituracaoContabil.utilizador">Utilizador</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="empresaNome"><span jhiTranslate="mandaApp.escrituracaoContabil.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let escrituracaoContabil of (escrituracaoContabils | pureFilter:filter:'historico') ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/escrituracao-contabil', escrituracaoContabil.id, 'view' ]">{{escrituracaoContabil.id}}</a></td> -->
                <td>{{escrituracaoContabil.numero}}</td>
                <td>{{escrituracaoContabil.historico}}</td>
                <td>{{escrituracaoContabil.valor | currency: 'AOA' }}</td>
                <td>{{escrituracaoContabil.referencia}}</td>
                <td jhiTranslate="{{'mandaApp.EntidadeSistema.' + escrituracaoContabil.entidadeReferencia}}">{{escrituracaoContabil.entidadeReferencia}}</td>
                <!-- <td>{{escrituracaoContabil.tipo}}</td> -->
                <td>{{escrituracaoContabil.dataDocumento | date:'mediumDate'}}</td>
                <td>{{escrituracaoContabil.data | date:'medium'}}</td>
                <!-- <td>
                    {{escrituracaoContabil.utilizadorLogin}}
                </td> -->
                <td>
                    <div *ngIf="escrituracaoContabil.empresaId">
                        <a [routerLink]="['/empresa', escrituracaoContabil.empresaId , 'view' ]" >{{escrituracaoContabil.empresaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/escrituracao-contabil', escrituracaoContabil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/escrituracao-contabil', escrituracaoContabil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(escrituracaoContabil)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="escrituracaoContabils?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
