<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-escrituracao-contabil-heading"
                jhiTranslate="mandaApp.escrituracaoContabil.home.createOrEditLabel">Create or edit a Escrituracao
                Contabil</h2>
            <hr>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.tipo"
                        for="field_tipo">Tipo</label><br>
                    <div class="btn-group btn-group-toggle mt-2 col" ngbRadioGroup formControlName="tipo">
                        <label ngbButtonLabel class="btn-primary ml-1" *ngFor="let opcao of tiposLancamento">
                            <input ngbButton type="radio" [value]="opcao.valor">
                            {{ opcao.nome }}
                        </label>
                    </div>
                    <!-- <input type="text" class="form-control" name="tipo" id="field_tipo" formControlName="tipo" /> -->
                </div>

                <div class="row">

                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.dataDocumento"
                            for="field_dataDocumento">Data Documento</label>
                        <div class="input-group">
                            <input id="field_dataDocumento" type="text" class="form-control" name="dataDocumento"
                                ngbDatepicker #dataDocumentoDp="ngbDatepicker" formControlName="dataDocumento" />
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="dataDocumentoDp.toggle()">
                                    <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.numero"
                            for="field_numero">Numero</label>
                        <input type="text" class="form-control" name="numero" id="field_numero"
                            formControlName="numero" />
                        <div
                            *ngIf="editForm.get('numero').invalid && (editForm.get('numero').dirty || editForm.get('numero').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('numero').errors.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.valor"
                            for="field_valor">Valor</label>
                        <div class="input-group">
                            <input readonly type="number" class="form-control" name="valor" id="field_valor"
                                formControlName="valor" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">{{ moedaNacional.codigo }}</span>
                            </div>
                        </div>
                        <div
                            *ngIf="editForm.get('valor').invalid && (editForm.get('valor').dirty || editForm.get('valor').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('valor').errors.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="editForm.get('valor').errors.min"
                                jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.get('valor')?.errors?.number"
                                jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.historico"
                        for="field_historico">Historico</label>
                    <textarea class="form-control" name="historico" id="field_historico"
                        formControlName="historico"></textarea>
                    <div
                        *ngIf="editForm.get('historico').invalid && (editForm.get('historico').dirty || editForm.get('historico').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('historico').errors.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.referencia" for="field_referencia">Referencia</label>
                    <input type="text" class="form-control" name="referencia" id="field_referencia"
                           formControlName="referencia"/>
                    <div *ngIf="editForm.get('referencia').invalid && (editForm.get('referencia').dirty || editForm.get('referencia').touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.entidadeReferencia" for="field_entidadeReferencia">Entidade Referencia</label>
                    <input type="text" class="form-control" name="entidadeReferencia" id="field_entidadeReferencia"
                           formControlName="entidadeReferencia"/>
                </div> -->
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.utilizador" for="field_utilizador">Utilizador</label>
                    <select class="form-control" id="field_utilizador" name="utilizador" formControlName="utilizadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div> -->
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.escrituracaoContabil.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nome}}</option>
                    </select>
                </div> -->

                <hr>

                <div class="row">
                    <div class="col-md-6">

                        <div class="float-left">
                            <h6 class="font-weight-bold">Debitos = {{ TOTAL_DEBITO | currency: moedaNacional.codigo }}</h6>
                            <table class="table" *ngIf="debitos.length > 0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Descrição da conta</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let debito of debitos; let i = index">
                                        <th scope="row"> {{ debito.contaDebitarId }} </th>
                                        <td> {{ debito.contaDebitarDescricao }} </td>
                                        <td> {{ debito.valor | currency: ' AOA' }} </td>
                                        <td>
                                            <button (click)="onDeleteDebito(i)" type="button" class="btn btn-danger">
                                                <fa-icon [icon]="'trash'"></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <button class="btn btn-success" [routerLink]="['/conta-debito/new']">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span>Conta à debitar</span>
                            </button>
                            <hr>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="float-right">
                            <h6 class="font-weight-bold">Creditos = {{ TOTAL_CREDITO | currency: moedaNacional.codigo}}</h6>
                            <table class="table" *ngIf="creditos.length > 0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Descrição da conta</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let credito of creditos; let i = index">
                                        <th scope="row"> {{ credito.contaCreditarId }} </th>
                                        <td> {{ credito.contaCreditarDescricao }} </td>
                                        <td> {{ credito.valor | currency: ' AOA' }} </td>
                                        <td>
                                            <button (click)="onDeleteCredito(i)" type="button" class="btn btn-danger">
                                                <fa-icon [icon]="'trash'"></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <button class="btn btn-danger" [routerLink]="['/conta-credito/new']">
                                <fa-icon [icon]="'minus'"></fa-icon>
                                <span>Conta à creditar</span>
                            </button>
                            <hr>
                        </div>
                    </div>
                </div>

                <button class="btn btn-warning" [routerLink]="['/arquivo/new']">
                    <fa-icon [icon]="'paperclip'"></fa-icon>
                    <span>Incluir comprovativo fisico</span>
                </button>
            </div>
            <hr>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || TOTAL_CREDITO !== TOTAL_DEBITO"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
