<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.contaDebito.home.title">Conta Debitos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conta-debito" [routerLink]="['/conta-debito/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.contaDebito.home.createLabel">
            Create a new Conta Debito
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contaDebitos?.length === 0">
        <span jhiTranslate="mandaApp.contaDebito.home.notFound">No contaDebitos found</span>
    </div>
    <div class="table-responsive" *ngIf="contaDebitos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.contaDebito.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.contaDebito.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaDebitarDescricao"><span jhiTranslate="mandaApp.contaDebito.contaDebitar">Conta Debitar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lancamentoDebitoHistorico"><span jhiTranslate="mandaApp.contaDebito.lancamentoDebito">Lancamento Debito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contaDebito of contaDebitos ;trackBy: trackId">
                <td><a [routerLink]="['/conta-debito', contaDebito.id, 'view' ]">{{contaDebito.id}}</a></td>
                <td>{{contaDebito.valor}}</td>
                <td>{{contaDebito.data | date:'medium'}}</td>
                <td>
                    <div *ngIf="contaDebito.contaDebitarId">
                        <a [routerLink]="['/conta', contaDebito.contaDebitarId , 'view' ]" >{{contaDebito.contaDebitarDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contaDebito.lancamentoDebitoId">
                        <a [routerLink]="['/escrituracao-contabil', contaDebito.lancamentoDebitoId , 'view' ]" >{{contaDebito.lancamentoDebitoHistorico}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conta-debito', contaDebito.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conta-debito', contaDebito.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(contaDebito)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contaDebitos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
