<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.fluxoDocumento.home.title">Fluxo Documentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fluxo-documento" [routerLink]="['/fluxo-documento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.fluxoDocumento.home.createLabel">
            Create a new Fluxo Documento
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="fluxoDocumentos?.length === 0">
        <span jhiTranslate="mandaApp.fluxoDocumento.home.notFound">No fluxoDocumentos found</span>
    </div>
    <div class="table-responsive" *ngIf="fluxoDocumentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mandaApp.fluxoDocumento.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="aumentaEstoque"><span jhiTranslate="mandaApp.fluxoDocumento.aumentaEstoque">Aumenta Estoque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="aumentaValorCaixa"><span jhiTranslate="mandaApp.fluxoDocumento.aumentaValorCaixa">Aumenta Valor Caixa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cor"><span jhiTranslate="mandaApp.fluxoDocumento.cor">Cor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="padrao"><span jhiTranslate="mandaApp.fluxoDocumento.padrao">Padrao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.fluxoDocumento.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entidade"><span jhiTranslate="mandaApp.fluxoDocumento.entidade">Entidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fluxoDocumento of fluxoDocumentos ;trackBy: trackId">
                <td><a [routerLink]="['/fluxo-documento', fluxoDocumento.id, 'view' ]">{{fluxoDocumento.id}}</a></td>
                <td>{{fluxoDocumento.nome}}</td>
                <td>{{fluxoDocumento.aumentaEstoque}}</td>
                <td>{{fluxoDocumento.aumentaValorCaixa}}</td>
                <td>{{fluxoDocumento.cor}}</td>
                <td>{{fluxoDocumento.padrao}}</td>
                <td>{{fluxoDocumento.descricao}}</td>
                <td jhiTranslate="{{'mandaApp.EntidadeSistema.' + fluxoDocumento.entidade}}">{{fluxoDocumento.entidade}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fluxo-documento', fluxoDocumento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fluxo-documento', fluxoDocumento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(fluxoDocumento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="fluxoDocumentos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
