<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.imposto.home.title">Impostos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-imposto" [routerLink]="['/imposto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.imposto.home.createLabel">
            Create a new Imposto
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="impostos?.length === 0">
        <span jhiTranslate="mandaApp.imposto.home.notFound">No impostos found</span>
    </div>
    <div class="table-responsive" *ngIf="impostos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoImposto"><span jhiTranslate="mandaApp.imposto.tipoImposto">Tipo Imposto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoImposto"><span jhiTranslate="mandaApp.imposto.codigoImposto">Codigo Imposto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="porcentagem"><span jhiTranslate="mandaApp.imposto.porcentagem">Porcentagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.imposto.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.imposto.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pais"><span jhiTranslate="mandaApp.imposto.pais">Pais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vigencia"><span jhiTranslate="mandaApp.imposto.vigencia">Vigencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaDescricao"><span jhiTranslate="mandaApp.imposto.conta">Conta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imposto of impostos ;trackBy: trackId">
                <td><a [routerLink]="['/imposto', imposto.id, 'view' ]">{{imposto.id}}</a></td>
                <td>{{imposto.tipoImposto}}</td>
                <td>{{imposto.codigoImposto}}</td>
                <td>{{imposto.porcentagem}}</td>
                <td>{{imposto.valor}}</td>
                <td>{{imposto.descricao}}</td>
                <td>{{imposto.pais}}</td>
                <td>{{imposto.vigencia | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="imposto.contaId">
                        <a [routerLink]="['/conta', imposto.contaId , 'view' ]" >{{imposto.contaDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/imposto', imposto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/imposto', imposto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(imposto)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="impostos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
