<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-lancamento-financeiro-heading" jhiTranslate="mandaApp.lancamentoFinanceiro.home.createOrEditLabel">Create or edit a Lancamento Financeiro</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.tipoLancamento" for="field_tipoLancamento">Tipo Lancamento</label>
                    <br>
                    <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="tipoLancamento">
                        <label ngbButtonLabel class="btn-primary ml-1" *ngFor="let opcao of tiposLancamento">
                            <input ngbButton type="radio" [value]="opcao.valor">
                            {{ opcao.nome }}
                        </label>
                    </div>
                    <div *ngIf="editForm.get('tipoLancamento').invalid && (editForm.get('tipoLancamento').dirty || editForm.get('tipoLancamento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoLancamento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.valor" for="field_valor">Valor</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" name="valor" id="field_valor"
                            formControlName="valor" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">AOA</span>
                        </div>
                    </div>
                    <div *ngIf="editForm.get('valor').invalid && (editForm.get('valor').dirty || editForm.get('valor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.externo" for="field_externo">Externo</label>
                    <input type="checkbox" class="form-control" name="externo" id="field_externo"
                           formControlName="externo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero').invalid && (editForm.get('numero').dirty || editForm.get('numero').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <p-accordion>

                    <p-accordionTab header="Pagamento" [selected]="true">
                        <table class="table" *ngIf="detalhesLancamento.length > 0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Valor</th>
                                            <th> Banco | Caixa </th>
                                            <th> Liquidado? </th>
                                            <th> Metodo liquidação </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pagamento of detalhesLancamento; let i = index">
                                            <td> {{ i}} </td>
                                            <td> {{ pagamento.valor | currency : pagamento.moedaCodigo }} </td>
                                            <td> {{ pagamento.coordenadaDescricao }} </td>
                                            <td> {{ pagamento.liquidado }} </td>
                                            <td> {{ pagamento.metodoLiquidacaoNome }} </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" (click)="onDeleteValor(i)">
                                                    <fa-icon [icon]="'trash'"></fa-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        <button class="btn btn-success" type="button" [routerLink]="['/detalhe-lancamento/new']"
                            [queryParams]="{ op: 'new'}" [queryParams]="{ entidade: 'venda'}"> Novo valor
                        </button>
                    </p-accordionTab>
                </p-accordion>

                <hr>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.descricao" for="field_descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" id="field_descricao"
                              formControlName="descricao"></textarea>
                    <div *ngIf="editForm.get('descricao').invalid && (editForm.get('descricao').dirty || editForm.get('descricao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.entidadeDocumento" for="field_entidadeDocumento">Entidade Documento</label>
                    <select class="form-control" name="entidadeDocumento" formControlName="entidadeDocumento" id="field_entidadeDocumento">
                        <option value="SOFTWARE">{{'mandaApp.EntidadeSistema.SOFTWARE' | translate}}</option>
                        <option value="LICENCA_SOFTWARE">{{'mandaApp.EntidadeSistema.LICENCA_SOFTWARE' | translate}}</option>
                        <option value="LOOKUP">{{'mandaApp.EntidadeSistema.LOOKUP' | translate}}</option>
                        <option value="LOOKUP_ITEM">{{'mandaApp.EntidadeSistema.LOOKUP_ITEM' | translate}}</option>
                        <option value="FLUXO_DOCUMENTO">{{'mandaApp.EntidadeSistema.FLUXO_DOCUMENTO' | translate}}</option>
                        <option value="DOCUMENTO_COMERCIAL">{{'mandaApp.EntidadeSistema.DOCUMENTO_COMERCIAL' | translate}}</option>
                        <option value="IMPOSTO">{{'mandaApp.EntidadeSistema.IMPOSTO' | translate}}</option>
                        <option value="MORADA_PESSOA">{{'mandaApp.EntidadeSistema.MORADA_PESSOA' | translate}}</option>
                        <option value="CONTACTO_PESSOA">{{'mandaApp.EntidadeSistema.CONTACTO_PESSOA' | translate}}</option>
                        <option value="LOCALIZACAO_EMPRESA">{{'mandaApp.EntidadeSistema.LOCALIZACAO_EMPRESA' | translate}}</option>
                        <option value="CONTACTO_EMPRESA">{{'mandaApp.EntidadeSistema.CONTACTO_EMPRESA' | translate}}</option>
                        <option value="EMPRESA">{{'mandaApp.EntidadeSistema.EMPRESA' | translate}}</option>
                        <option value="PESSOA">{{'mandaApp.EntidadeSistema.PESSOA' | translate}}</option>
                        <option value="CLIENTE">{{'mandaApp.EntidadeSistema.CLIENTE' | translate}}</option>
                        <option value="FORNECEDOR">{{'mandaApp.EntidadeSistema.FORNECEDOR' | translate}}</option>
                        <option value="RELACIONAMENTO_PESSOA">{{'mandaApp.EntidadeSistema.RELACIONAMENTO_PESSOA' | translate}}</option>
                        <option value="COORDENADA_BANCARIA">{{'mandaApp.EntidadeSistema.COORDENADA_BANCARIA' | translate}}</option>
                        <option value="ARQUIVO">{{'mandaApp.EntidadeSistema.ARQUIVO' | translate}}</option>
                        <option value="UNIDADE_MEDIDA">{{'mandaApp.EntidadeSistema.UNIDADE_MEDIDA' | translate}}</option>
                        <option value="CLASSE_CONTA">{{'mandaApp.EntidadeSistema.CLASSE_CONTA' | translate}}</option>
                        <option value="CONTA">{{'mandaApp.EntidadeSistema.CONTA' | translate}}</option>
                        <option value="ESCRITURACAO_CONTABIL">{{'mandaApp.EntidadeSistema.ESCRITURACAO_CONTABIL' | translate}}</option>
                        <option value="REGRA_MOVIMENTACAO_CREDITO">{{'mandaApp.EntidadeSistema.REGRA_MOVIMENTACAO_CREDITO' | translate}}</option>
                        <option value="REGRA_MOVIMENTACAO_DEBITO">{{'mandaApp.EntidadeSistema.REGRA_MOVIMENTACAO_DEBITO' | translate}}</option>
                        <option value="CONTA_DEBITO">{{'mandaApp.EntidadeSistema.CONTA_DEBITO' | translate}}</option>
                        <option value="CONTA_CREDITO">{{'mandaApp.EntidadeSistema.CONTA_CREDITO' | translate}}</option>
                        <option value="MOEDA">{{'mandaApp.EntidadeSistema.MOEDA' | translate}}</option>
                        <option value="FORMA_LIQUIDACAO">{{'mandaApp.EntidadeSistema.FORMA_LIQUIDACAO' | translate}}</option>
                        <option value="LANCAMENTO_FINANCEIRO">{{'mandaApp.EntidadeSistema.LANCAMENTO_FINANCEIRO' | translate}}</option>
                        <option value="DETALHE_LANCAMENTO">{{'mandaApp.EntidadeSistema.DETALHE_LANCAMENTO' | translate}}</option>
                        <option value="RETENCAO_FONTE">{{'mandaApp.EntidadeSistema.RETENCAO_FONTE' | translate}}</option>
                        <option value="LOCAL_ARMAZENAMENTO">{{'mandaApp.EntidadeSistema.LOCAL_ARMAZENAMENTO' | translate}}</option>
                        <option value="COMPOSTO_PRODUTO">{{'mandaApp.EntidadeSistema.COMPOSTO_PRODUTO' | translate}}</option>
                        <option value="FAMILIA_PRODUTO">{{'mandaApp.EntidadeSistema.FAMILIA_PRODUTO' | translate}}</option>
                        <option value="PRODUTO">{{'mandaApp.EntidadeSistema.PRODUTO' | translate}}</option>
                        <option value="CONVERSAO_UNIDADE">{{'mandaApp.EntidadeSistema.CONVERSAO_UNIDADE' | translate}}</option>
                        <option value="COMPRA">{{'mandaApp.EntidadeSistema.COMPRA' | translate}}</option>
                        <option value="ITEM_COMPRA">{{'mandaApp.EntidadeSistema.ITEM_COMPRA' | translate}}</option>
                        <option value="DEVOLUCAO_COMPRA">{{'mandaApp.EntidadeSistema.DEVOLUCAO_COMPRA' | translate}}</option>
                        <option value="VENDA">{{'mandaApp.EntidadeSistema.VENDA' | translate}}</option>
                        <option value="ITEM_VENDA">{{'mandaApp.EntidadeSistema.ITEM_VENDA' | translate}}</option>
                        <option value="DEVOLUCAO_VENDA">{{'mandaApp.EntidadeSistema.DEVOLUCAO_VENDA' | translate}}</option>
                        <option value="AUDITORIA_DOCUMENTO_COMERCIAL">{{'mandaApp.EntidadeSistema.AUDITORIA_DOCUMENTO_COMERCIAL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('entidadeDocumento').invalid && (editForm.get('entidadeDocumento').dirty || editForm.get('entidadeDocumento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entidadeDocumento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.numeroDocumento" for="field_numeroDocumento">Numero Documento</label>
                    <input type="text" class="form-control" name="numeroDocumento" id="field_numeroDocumento"
                           formControlName="numeroDocumento"/>
                    <div *ngIf="editForm.get('numeroDocumento').invalid && (editForm.get('numeroDocumento').dirty || editForm.get('numeroDocumento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroDocumento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.utilizador" for="field_utilizador">Utilizador</label>
                    <select class="form-control" id="field_utilizador" name="utilizador" formControlName="utilizadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="mandaApp.lancamentoFinanceiro.imposto" for="field_impostos">Imposto</label>
                    <select class="form-control" id="field_impostos" multiple name="impostos" formControlName="impostos">
                        <option [ngValue]="getSelected(editForm.get('impostos').value, impostoOption)" *ngFor="let impostoOption of impostos; trackBy: trackImpostoById">{{impostoOption.codigoImposto}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('impostos').invalid && (editForm.get('impostos').dirty || editForm.get('impostos').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('impostos').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.formaLiquidacao" for="field_formaLiquidacao">Forma Liquidacao</label>
                    <select class="form-control" id="field_formaLiquidacao" name="formaLiquidacao" formControlName="formaLiquidacaoId">
                        <option *ngIf="!editForm.get('formaLiquidacaoId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="formaLiquidacaoOption.id" *ngFor="let formaLiquidacaoOption of formaliquidacaos; trackBy: trackFormaLiquidacaoById">{{formaLiquidacaoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('formaLiquidacaoId').invalid && (editForm.get('formaLiquidacaoId').dirty || editForm.get('formaLiquidacaoId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('formaLiquidacaoId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.tipoRecibo" for="field_tipoRecibo">Tipo Recibo</label>
                    <select class="form-control" id="field_tipoRecibo" name="tipoRecibo" formControlName="tipoReciboId">
                        <option *ngIf="!editForm.get('tipoReciboId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="documentoComercialOption.id" *ngFor="let documentoComercialOption of documentocomercials; trackBy: trackDocumentoComercialById">{{documentoComercialOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tipoReciboId').invalid && (editForm.get('tipoReciboId').dirty || editForm.get('tipoReciboId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tipoReciboId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.lancamentoFinanceiro.conta" for="field_conta">Conta</label>
                    <select class="form-control" id="field_conta" name="conta" formControlName="contaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contaOption.id" *ngFor="let contaOption of contas; trackBy: trackContaById">{{contaOption.descricao}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
