<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lancamentoFinanceiro">
            <h2><span jhiTranslate="mandaApp.lancamentoFinanceiro.detail.title">Lancamento Financeiro</span> {{lancamentoFinanceiro.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.tipoLancamento">Tipo Lancamento</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.tipoLancamento}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.valor">Valor</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.valor}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.externo">Externo</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.externo}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.numero">Numero</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.numero}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.descricao">Descricao</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.entidadeDocumento">Entidade Documento</span></dt>
                <dd>
                    <span jhiTranslate="{{'mandaApp.EntidadeSistema.' + lancamentoFinanceiro.entidadeDocumento}}">{{lancamentoFinanceiro.entidadeDocumento}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.numeroDocumento">Numero Documento</span></dt>
                <dd>
                    <span>{{lancamentoFinanceiro.numeroDocumento}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.utilizador">Utilizador</span></dt>
                <dd>
                    {{lancamentoFinanceiro.utilizadorLogin}}
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.imposto">Imposto</span></dt>
                <dd>
                    <span *ngFor="let imposto of lancamentoFinanceiro.impostos; let last = last">
                        <a [routerLink]="['/imposto', imposto?.id, 'view' ]">{{imposto.codigoImposto}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.formaLiquidacao">Forma Liquidacao</span></dt>
                <dd>
                    <div *ngIf="lancamentoFinanceiro.formaLiquidacaoId">
                        <a [routerLink]="['/forma-liquidacao', lancamentoFinanceiro.formaLiquidacaoId, 'view']">{{lancamentoFinanceiro.formaLiquidacaoNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="lancamentoFinanceiro.empresaId">
                        <a [routerLink]="['/empresa', lancamentoFinanceiro.empresaId, 'view']">{{lancamentoFinanceiro.empresaNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.tipoRecibo">Tipo Recibo</span></dt>
                <dd>
                    <div *ngIf="lancamentoFinanceiro.tipoReciboId">
                        <a [routerLink]="['/documento-comercial', lancamentoFinanceiro.tipoReciboId, 'view']">{{lancamentoFinanceiro.tipoReciboNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mandaApp.lancamentoFinanceiro.conta">Conta</span></dt>
                <dd>
                    <div *ngIf="lancamentoFinanceiro.contaId">
                        <a [routerLink]="['/conta', lancamentoFinanceiro.contaId, 'view']">{{lancamentoFinanceiro.contaDescricao}}</a>
                    </div>
                </dd>

                <hr>
                <div *ngIf="detalhesLancamento.length > 0">
                        <h4>Detalhes do lançamento</h4>
                        <table class="table" >
                                <thead>
                                    <tr>
                                        <th scope="col"> # </th>
                                        <th scope="col"> Data de liquidação </th>
                                        <th scope="col">Meio - Caixa</th>
                                        <th scope="col"> Desconto </th>
                                        <th scope="col"> Taxa de juro </th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"> Retenção na fonte? </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalhe of detalhesLancamento; let i = index" [ngClass]="{'table-danger':!detalhe.liquidado, 'table-primary':detalhe.liquidado}" >
                                        <td> {{ detalhe.id }} </td>
                                        <td> {{ detalhe.data | date }} </td>
                                        <td> {{ detalhe.metodoLiquidacaoNome }} </td>
                                        <td> {{ detalhe.desconto/100 | percent }} </td>
                                        <td> {{ detalhe.juro/100 | percent }} </td>
                                        <td> {{ detalhe.valor | currency : detalhe.moedaCodigo }} </td>
                                        <td>

                                                <span *ngIf="detalhe.retencaoFonte" >
                                                        SIM
                                                    </span>
                                                    <span *ngIf="!detalhe.retencaoFonte" >
                                                        NÃO
                                                    </span>
                                        </td>
                                        <td>
                                            <!-- <button (click)="onUpdateItem(item)" type="button" class="btn btn-primary" >
                                                <fa-icon [icon]="'edit'" ></fa-icon>
                                            </button> -->
                                            <!-- <button type="button" class="btn btn-danger" (click)="onDeleteDetalhe(i)">
                                                <fa-icon [icon]="'trash'"></fa-icon>
                                            </button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                </div>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lancamento-financeiro', lancamentoFinanceiro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
