<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.licencaSoftware.home.title">Licenca Softwares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-licenca-software" [routerLink]="['/licenca-software/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.licencaSoftware.home.createLabel">
            Create a new Licenca Software
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="licencaSoftwares?.length === 0">
        <span jhiTranslate="mandaApp.licencaSoftware.home.notFound">No licencaSoftwares found</span>
    </div>
    <div class="table-responsive" *ngIf="licencaSoftwares?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoSubscricao"><span jhiTranslate="mandaApp.licencaSoftware.tipoSubscricao">Tipo Subscricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="inicio"><span jhiTranslate="mandaApp.licencaSoftware.inicio">Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fim"><span jhiTranslate="mandaApp.licencaSoftware.fim">Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.licencaSoftware.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.licencaSoftware.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigo"><span jhiTranslate="mandaApp.licencaSoftware.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroUsuario"><span jhiTranslate="mandaApp.licencaSoftware.numeroUsuario">Numero Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroEmpresa"><span jhiTranslate="mandaApp.licencaSoftware.numeroEmpresa">Numero Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="softwareNome"><span jhiTranslate="mandaApp.licencaSoftware.software">Software</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaNome"><span jhiTranslate="mandaApp.licencaSoftware.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let licencaSoftware of licencaSoftwares ;trackBy: trackId">
                <td><a [routerLink]="['/licenca-software', licencaSoftware.id, 'view' ]">{{licencaSoftware.id}}</a></td>
                <td>{{licencaSoftware.tipoSubscricao}}</td>
                <td>{{licencaSoftware.inicio | date:'medium'}}</td>
                <td>{{licencaSoftware.fim | date:'medium'}}</td>
                <td>{{licencaSoftware.data | date:'medium'}}</td>
                <td>{{licencaSoftware.valor}}</td>
                <td>{{licencaSoftware.codigo}}</td>
                <td>{{licencaSoftware.numeroUsuario}}</td>
                <td>{{licencaSoftware.numeroEmpresa}}</td>
                <td>
                    <div *ngIf="licencaSoftware.softwareId">
                        <a [routerLink]="['/software', licencaSoftware.softwareId , 'view' ]" >{{licencaSoftware.softwareNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="licencaSoftware.empresaId">
                        <a [routerLink]="['/empresa', licencaSoftware.empresaId , 'view' ]" >{{licencaSoftware.empresaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/licenca-software', licencaSoftware.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/licenca-software', licencaSoftware.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(licencaSoftware)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="licencaSoftwares?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
