<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-cliente-heading" jhiTranslate="mandaApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                           formControlName="ativo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.perfilProfissional" for="field_perfilProfissional">Perfil Profissional</label>
                    <textarea class="form-control" name="perfilProfissional" id="field_perfilProfissional"
                              formControlName="perfilProfissional"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.satisfacao" for="field_satisfacao">Satisfacao</label>
                    <input type="number" class="form-control" name="satisfacao" id="field_satisfacao"
                           formControlName="satisfacao"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.frequencia" for="field_frequencia">Frequencia</label>
                    <input type="number" class="form-control" name="frequencia" id="field_frequencia"
                           formControlName="frequencia"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.canalUsado" for="field_canalUsado">Canal Usado</label>
                    <input type="text" class="form-control" name="canalUsado" id="field_canalUsado"
                           formControlName="canalUsado"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero').invalid && (editForm.get('numero').dirty || editForm.get('numero').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.autofacturacao" for="field_autofacturacao">Autofacturacao</label>
                    <input type="checkbox" class="form-control" name="autofacturacao" id="field_autofacturacao"
                           formControlName="autofacturacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" formControlName="pessoaId">
                        <option *ngIf="!editForm.get('pessoaId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="pessoaOption.id" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('pessoaId').invalid && (editForm.get('pessoaId').dirty || editForm.get('pessoaId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pessoaId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.cliente.conta" for="field_conta">Conta</label>
                    <select class="form-control" id="field_conta" name="conta" formControlName="contaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contaOption.id" *ngFor="let contaOption of contas; trackBy: trackContaById">{{contaOption.descricao}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
