<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.documentoComercial.home.title">Documento Comercials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-documento-comercial" [routerLink]="['/documento-comercial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.documentoComercial.home.createLabel">
            Create a new Documento Comercial
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="documentoComercials?.length === 0">
        <span jhiTranslate="mandaApp.documentoComercial.home.notFound">No documentoComercials found</span>
    </div>
    <div class="table-responsive" *ngIf="documentoComercials?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mandaApp.documentoComercial.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="serie"><span jhiTranslate="mandaApp.documentoComercial.serie">Serie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="padrao"><span jhiTranslate="mandaApp.documentoComercial.padrao">Padrao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="movimentaEstoque"><span jhiTranslate="mandaApp.documentoComercial.movimentaEstoque">Movimenta Estoque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="movimentaCaixa"><span jhiTranslate="mandaApp.documentoComercial.movimentaCaixa">Movimenta Caixa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="movimentaContabilidade"><span jhiTranslate="mandaApp.documentoComercial.movimentaContabilidade">Movimenta Contabilidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cor"><span jhiTranslate="mandaApp.documentoComercial.cor">Cor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.documentoComercial.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="mostraPontoVenda"><span jhiTranslate="mandaApp.documentoComercial.mostraPontoVenda">Mostra Ponto Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entidade"><span jhiTranslate="mandaApp.documentoComercial.entidade">Entidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documentoComercial of documentoComercials ;trackBy: trackId">
                <td><a [routerLink]="['/documento-comercial', documentoComercial.id, 'view' ]">{{documentoComercial.id}}</a></td>
                <td>{{documentoComercial.nome}}</td>
                <td>{{documentoComercial.serie}}</td>
                <td>{{documentoComercial.padrao}}</td>
                <td>{{documentoComercial.movimentaEstoque}}</td>
                <td>{{documentoComercial.movimentaCaixa}}</td>
                <td>{{documentoComercial.movimentaContabilidade}}</td>
                <td>{{documentoComercial.cor}}</td>
                <td>{{documentoComercial.descricao}}</td>
                <td>{{documentoComercial.mostraPontoVenda}}</td>
                <td jhiTranslate="{{'mandaApp.EntidadeSistema.' + documentoComercial.entidade}}">{{documentoComercial.entidade}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/documento-comercial', documentoComercial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/documento-comercial', documentoComercial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(documentoComercial)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="documentoComercials?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
