<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-documento-comercial-heading" jhiTranslate="mandaApp.documentoComercial.home.createOrEditLabel">Create or edit a Documento Comercial</h2>
            <div>
                <hr>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.nome" for="field_nome">Nome</label>

                    <fa-icon pTooltip="Sigla do tipo de documento, Ex: FR para Factura/recibo" tooltipPosition="top" icon="info-circle"
                    fixedWidth="true"></fa-icon>
                <label class="text-muted font-italic">(Obrigatório)</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                        <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.descricao" for="field_descricao">Descricao</label>

                        <fa-icon pTooltip="Descrição do tipo do documento Ex: Factura/recibo para o tipo FR" tooltipPosition="top" icon="info-circle"
                        fixedWidth="true"></fa-icon>
                    <label class="text-muted font-italic">(Obrigatório)</label>
                        <textarea class="form-control" name="descricao" id="field_descricao"
                                  formControlName="descricao"></textarea>
                    </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.serie" for="field_serie">Serie</label>
                    <input type="text" class="form-control" name="serie" id="field_serie"
                           formControlName="serie"/>
                    <div *ngIf="editForm.get('serie').invalid && (editForm.get('serie').dirty || editForm.get('serie').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serie').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.padrao" for="field_padrao">Padrao</label> -->
                    <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="padrao">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" [value]="true"> Documento padrão
                            </label>

                            <label ngbButtonLabel class="btn-primary">
                                <input class="bg-danger" ngbButton type="radio" [value]="false"> Documento normal
                            </label>
                        </div>
                    <!-- <input type="checkbox" class="form-control" name="padrao" id="field_padrao"
                           formControlName="padrao"/> -->
                    <div *ngIf="editForm.get('padrao').invalid && (editForm.get('padrao').dirty || editForm.get('padrao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('padrao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                        <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="movimentaEstoque">
                                <label ngbButtonLabel class="btn-primary">
                                    <input ngbButton type="radio" [value]="true"> Movimenta estoque
                                </label>

                                <label ngbButtonLabel class="btn-primary">
                                    <input class="bg-danger" ngbButton type="radio" [value]="false"> Não movimenta estoque
                                </label>
                            </div>
                    <!-- <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.movimentaEstoque" for="field_movimentaEstoque">Movimenta Estoque</label>
                    <input type="checkbox" class="form-control" name="movimentaEstoque" id="field_movimentaEstoque"
                           formControlName="movimentaEstoque"/> -->
                    <div *ngIf="editForm.get('movimentaEstoque').invalid && (editForm.get('movimentaEstoque').dirty || editForm.get('movimentaEstoque').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('movimentaEstoque').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                        <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="movimentaCaixa">
                                <label ngbButtonLabel class="btn-primary">
                                    <input ngbButton type="radio" [value]="true"> Movimenta a tesouraria
                                </label>

                                <label ngbButtonLabel class="btn-primary">
                                    <input class="bg-danger" ngbButton type="radio" [value]="false"> Não movimenta a tesouraria
                                </label>
                            </div>
                    <!-- <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.movimentaCaixa" for="field_movimentaCaixa">Movimenta Caixa</label>
                    <input type="checkbox" class="form-control" name="movimentaCaixa" id="field_movimentaCaixa"
                           formControlName="movimentaCaixa"/> -->
                    <div *ngIf="editForm.get('movimentaCaixa').invalid && (editForm.get('movimentaCaixa').dirty || editForm.get('movimentaCaixa').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('movimentaCaixa').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                        <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="movimentaContabilidade">
                                <label ngbButtonLabel class="btn-primary">
                                    <input ngbButton type="radio" [value]="true"> Movimenta a contabilidade
                                </label>

                                <label ngbButtonLabel class="btn-primary">
                                    <input class="bg-danger" ngbButton type="radio" [value]="false"> Não movimenta a contabilidade
                                </label>
                            </div>
                    <!-- <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.movimentaContabilidade" for="field_movimentaContabilidade">Movimenta Contabilidade</label> -->
                    <!-- <input type="checkbox" class="form-control" name="movimentaContabilidade" id="field_movimentaContabilidade"
                           formControlName="movimentaContabilidade"/> -->
                    <div *ngIf="editForm.get('movimentaContabilidade').invalid && (editForm.get('movimentaContabilidade').dirty || editForm.get('movimentaContabilidade').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('movimentaContabilidade').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.cor" for="field_cor">Cor</label>
                    <input type="color" class="form-control" name="cor" id="field_cor"
                           formControlName="cor"/>
                </div>
                <div class="form-group">
                        <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup formControlName="mostraPontoVenda">
                                <label ngbButtonLabel class="btn-primary">
                                    <input ngbButton type="radio" [value]="true"> Mostrar no ponto de venda
                                </label>

                                <label ngbButtonLabel class="btn-primary">
                                    <input class="bg-danger" ngbButton type="radio" [value]="false"> Não mostrar no ponto de venda
                                </label>
                            </div>
                    <!-- <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.mostraPontoVenda" for="field_mostraPontoVenda">Mostra Ponto Venda</label>
                    <input type="checkbox" class="form-control" name="mostraPontoVenda" id="field_mostraPontoVenda"
                           formControlName="mostraPontoVenda"/> -->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.documentoComercial.entidade" for="field_entidade">Entidade</label>
                    <select class="form-control" name="entidade" formControlName="entidade" id="field_entidade">
                        <option value="SOFTWARE">{{'mandaApp.EntidadeSistema.SOFTWARE' | translate}}</option>
                        <option value="LICENCA_SOFTWARE">{{'mandaApp.EntidadeSistema.LICENCA_SOFTWARE' | translate}}</option>
                        <option value="LOOKUP">{{'mandaApp.EntidadeSistema.LOOKUP' | translate}}</option>
                        <option value="LOOKUP_ITEM">{{'mandaApp.EntidadeSistema.LOOKUP_ITEM' | translate}}</option>
                        <option value="FLUXO_DOCUMENTO">{{'mandaApp.EntidadeSistema.FLUXO_DOCUMENTO' | translate}}</option>
                        <option value="DOCUMENTO_COMERCIAL">{{'mandaApp.EntidadeSistema.DOCUMENTO_COMERCIAL' | translate}}</option>
                        <option value="IMPOSTO">{{'mandaApp.EntidadeSistema.IMPOSTO' | translate}}</option>
                        <option value="MORADA_PESSOA">{{'mandaApp.EntidadeSistema.MORADA_PESSOA' | translate}}</option>
                        <option value="CONTACTO_PESSOA">{{'mandaApp.EntidadeSistema.CONTACTO_PESSOA' | translate}}</option>
                        <option value="LOCALIZACAO_EMPRESA">{{'mandaApp.EntidadeSistema.LOCALIZACAO_EMPRESA' | translate}}</option>
                        <option value="CONTACTO_EMPRESA">{{'mandaApp.EntidadeSistema.CONTACTO_EMPRESA' | translate}}</option>
                        <option value="EMPRESA">{{'mandaApp.EntidadeSistema.EMPRESA' | translate}}</option>
                        <option value="PESSOA">{{'mandaApp.EntidadeSistema.PESSOA' | translate}}</option>
                        <option value="CLIENTE">{{'mandaApp.EntidadeSistema.CLIENTE' | translate}}</option>
                        <option value="FORNECEDOR">{{'mandaApp.EntidadeSistema.FORNECEDOR' | translate}}</option>
                        <option value="RELACIONAMENTO_PESSOA">{{'mandaApp.EntidadeSistema.RELACIONAMENTO_PESSOA' | translate}}</option>
                        <option value="COORDENADA_BANCARIA">{{'mandaApp.EntidadeSistema.COORDENADA_BANCARIA' | translate}}</option>
                        <option value="ARQUIVO">{{'mandaApp.EntidadeSistema.ARQUIVO' | translate}}</option>
                        <option value="UNIDADE_MEDIDA">{{'mandaApp.EntidadeSistema.UNIDADE_MEDIDA' | translate}}</option>
                        <option value="CLASSE_CONTA">{{'mandaApp.EntidadeSistema.CLASSE_CONTA' | translate}}</option>
                        <option value="CONTA">{{'mandaApp.EntidadeSistema.CONTA' | translate}}</option>
                        <option value="ESCRITURACAO_CONTABIL">{{'mandaApp.EntidadeSistema.ESCRITURACAO_CONTABIL' | translate}}</option>
                        <option value="REGRA_MOVIMENTACAO_CREDITO">{{'mandaApp.EntidadeSistema.REGRA_MOVIMENTACAO_CREDITO' | translate}}</option>
                        <option value="REGRA_MOVIMENTACAO_DEBITO">{{'mandaApp.EntidadeSistema.REGRA_MOVIMENTACAO_DEBITO' | translate}}</option>
                        <option value="CONTA_DEBITO">{{'mandaApp.EntidadeSistema.CONTA_DEBITO' | translate}}</option>
                        <option value="CONTA_CREDITO">{{'mandaApp.EntidadeSistema.CONTA_CREDITO' | translate}}</option>
                        <option value="MOEDA">{{'mandaApp.EntidadeSistema.MOEDA' | translate}}</option>
                        <option value="FORMA_LIQUIDACAO">{{'mandaApp.EntidadeSistema.FORMA_LIQUIDACAO' | translate}}</option>
                        <option value="LANCAMENTO_FINANCEIRO">{{'mandaApp.EntidadeSistema.LANCAMENTO_FINANCEIRO' | translate}}</option>
                        <option value="DETALHE_LANCAMENTO">{{'mandaApp.EntidadeSistema.DETALHE_LANCAMENTO' | translate}}</option>
                        <option value="RETENCAO_FONTE">{{'mandaApp.EntidadeSistema.RETENCAO_FONTE' | translate}}</option>
                        <option value="LOCAL_ARMAZENAMENTO">{{'mandaApp.EntidadeSistema.LOCAL_ARMAZENAMENTO' | translate}}</option>
                        <option value="COMPOSTO_PRODUTO">{{'mandaApp.EntidadeSistema.COMPOSTO_PRODUTO' | translate}}</option>
                        <option value="FAMILIA_PRODUTO">{{'mandaApp.EntidadeSistema.FAMILIA_PRODUTO' | translate}}</option>
                        <option value="PRODUTO">{{'mandaApp.EntidadeSistema.PRODUTO' | translate}}</option>
                        <option value="CONVERSAO_UNIDADE">{{'mandaApp.EntidadeSistema.CONVERSAO_UNIDADE' | translate}}</option>
                        <option value="COMPRA">{{'mandaApp.EntidadeSistema.COMPRA' | translate}}</option>
                        <option value="ITEM_COMPRA">{{'mandaApp.EntidadeSistema.ITEM_COMPRA' | translate}}</option>
                        <option value="DEVOLUCAO_COMPRA">{{'mandaApp.EntidadeSistema.DEVOLUCAO_COMPRA' | translate}}</option>
                        <option value="VENDA">{{'mandaApp.EntidadeSistema.VENDA' | translate}}</option>
                        <option value="ITEM_VENDA">{{'mandaApp.EntidadeSistema.ITEM_VENDA' | translate}}</option>
                        <option value="DEVOLUCAO_VENDA">{{'mandaApp.EntidadeSistema.DEVOLUCAO_VENDA' | translate}}</option>
                        <option value="AUDITORIA_DOCUMENTO_COMERCIAL">{{'mandaApp.EntidadeSistema.AUDITORIA_DOCUMENTO_COMERCIAL' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
