<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.fornecedor.home.title">Fornecedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornecedor" [routerLink]="['/fornecedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.fornecedor.home.createLabel">
            Create a new Fornecedor
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="fornecedors?.length === 0">
        <span jhiTranslate="mandaApp.fornecedor.home.notFound">No fornecedors found</span>
    </div>
    <div class="table-responsive" *ngIf="fornecedors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="numero"><span jhiTranslate="mandaApp.fornecedor.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pessoaNome"><span jhiTranslate="mandaApp.fornecedor.pessoa">Pessoa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaDescricao"><span jhiTranslate="mandaApp.fornecedor.conta">Conta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="certificadoISO9001"><span jhiTranslate="mandaApp.fornecedor.certificadoISO9001">Certificado ISO 9001</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="garantiaDefeitoFabrica"><span jhiTranslate="mandaApp.fornecedor.garantiaDefeitoFabrica">Garantia Defeito Fabrica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transporte"><span jhiTranslate="mandaApp.fornecedor.transporte">Transporte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qualidade"><span jhiTranslate="mandaApp.fornecedor.qualidade">Qualidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pagamentoPrazo"><span jhiTranslate="mandaApp.fornecedor.pagamentoPrazo">Pagamento Prazo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="metodosPagamento"><span jhiTranslate="mandaApp.fornecedor.metodosPagamento">Metodos Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classificacao"><span jhiTranslate="mandaApp.fornecedor.classificacao">Classificacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.fornecedor.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ativo"><span jhiTranslate="mandaApp.fornecedor.ativo">Ativo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fornecedor of fornecedors ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/fornecedor', fornecedor.id, 'view' ]">{{fornecedor.id}}</a></td> -->
                <td>{{fornecedor.numero}}</td>
                <td>
                    <div *ngIf="fornecedor.pessoaId">
                        <a [routerLink]="['/pessoa', fornecedor.pessoaId , 'view' ]" >{{fornecedor.pessoaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fornecedor.contaId">
                        <a [routerLink]="['/conta', fornecedor.contaId , 'view' ]" >{{fornecedor.contaDescricao}}</a>
                    </div>
                </td>
                <td>{{fornecedor.certificadoISO9001}}</td>
                <td>{{fornecedor.garantiaDefeitoFabrica}}</td>
                <td>{{fornecedor.transporte}}</td>
                <td>{{fornecedor.qualidade}}</td>
                <td>{{fornecedor.pagamentoPrazo}}</td>
                <td>{{fornecedor.metodosPagamento}}</td>
                <td>{{fornecedor.classificacao}}</td>
                <td>{{fornecedor.descricao}}</td>
                <td>{{fornecedor.ativo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fornecedor', fornecedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(fornecedor)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="fornecedors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
