<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.localizacaoEmpresa.home.title">Localizacao Empresas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localizacao-empresa" [routerLink]="['/localizacao-empresa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.localizacaoEmpresa.home.createLabel">
            Create a new Localizacao Empresa
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="localizacaoEmpresas?.length === 0">
        <span jhiTranslate="mandaApp.localizacaoEmpresa.home.notFound">No localizacaoEmpresas found</span>
    </div>
    <div class="table-responsive" *ngIf="localizacaoEmpresas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pais"><span jhiTranslate="mandaApp.localizacaoEmpresa.pais">Pais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="provincia"><span jhiTranslate="mandaApp.localizacaoEmpresa.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="municipio"><span jhiTranslate="mandaApp.localizacaoEmpresa.municipio">Municipio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bairro"><span jhiTranslate="mandaApp.localizacaoEmpresa.bairro">Bairro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rua"><span jhiTranslate="mandaApp.localizacaoEmpresa.rua">Rua</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quarteirao"><span jhiTranslate="mandaApp.localizacaoEmpresa.quarteirao">Quarteirao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroPorta"><span jhiTranslate="mandaApp.localizacaoEmpresa.numeroPorta">Numero Porta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="caixaPostal"><span jhiTranslate="mandaApp.localizacaoEmpresa.caixaPostal">Caixa Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaNome"><span jhiTranslate="mandaApp.localizacaoEmpresa.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localizacaoEmpresa of localizacaoEmpresas ;trackBy: trackId">
                <td><a [routerLink]="['/localizacao-empresa', localizacaoEmpresa.id, 'view' ]">{{localizacaoEmpresa.id}}</a></td>
                <td>{{localizacaoEmpresa.pais}}</td>
                <td>{{localizacaoEmpresa.provincia}}</td>
                <td>{{localizacaoEmpresa.municipio}}</td>
                <td>{{localizacaoEmpresa.bairro}}</td>
                <td>{{localizacaoEmpresa.rua}}</td>
                <td>{{localizacaoEmpresa.quarteirao}}</td>
                <td>{{localizacaoEmpresa.numeroPorta}}</td>
                <td>{{localizacaoEmpresa.caixaPostal}}</td>
                <td>
                    <div *ngIf="localizacaoEmpresa.empresaId">
                        <a [routerLink]="['/empresa', localizacaoEmpresa.empresaId , 'view' ]" >{{localizacaoEmpresa.empresaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/localizacao-empresa', localizacaoEmpresa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localizacao-empresa', localizacaoEmpresa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(localizacaoEmpresa)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="localizacaoEmpresas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
