<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.software.home.title">Softwares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-software" [routerLink]="['/software/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.software.home.createLabel">
            Create a new Software
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="softwares?.length === 0">
        <span jhiTranslate="mandaApp.software.home.notFound">No softwares found</span>
    </div>
    <div class="table-responsive" *ngIf="softwares?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresa"><span jhiTranslate="mandaApp.software.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoSistema"><span jhiTranslate="mandaApp.software.tipoSistema">Tipo Sistema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nif"><span jhiTranslate="mandaApp.software.nif">Nif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroValidacaoAGT"><span jhiTranslate="mandaApp.software.numeroValidacaoAGT">Numero Validacao AGT</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mandaApp.software.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="versao"><span jhiTranslate="mandaApp.software.versao">Versao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hashCode"><span jhiTranslate="mandaApp.software.hashCode">Hash Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hashControl"><span jhiTranslate="mandaApp.software.hashControl">Hash Control</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let software of softwares ;trackBy: trackId">
                <td><a [routerLink]="['/software', software.id, 'view' ]">{{software.id}}</a></td>
                <td>{{software.empresa}}</td>
                <td>{{software.tipoSistema}}</td>
                <td>{{software.nif}}</td>
                <td>{{software.numeroValidacaoAGT}}</td>
                <td>{{software.nome}}</td>
                <td>{{software.versao}}</td>
                <td>{{software.hashCode}}</td>
                <td>{{software.hashControl}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/software', software.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/software', software.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(software)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="softwares?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
