<div class="row">
    <div class="col-md-12">

      <div [ngSwitch]="isAuthenticated()">
          <!-- autenticado -->
          <div *ngSwitchCase="true">
          </div>
        <!-- autenticado -->

        <div *ngSwitchCase="false">
          <div class="jumbotron">
            <h1 class="display-4">MANDA - Software de gestão empresarial</h1>
            <p class="lead">
              Tudo que você precisa para alavancar o seu negocio com segurança, facilidade e integridade.
              <br>
             Onde você <em>MANDA</em> e o sistema faz: Inventario, Compra, Venda, Escrituração Contabil, Contas a pagar/receber e muinto mais...
          </p>
            <hr class="my-4" />
            <p>Entre em contacto para mais informações! Nós <em>"desenvolvemos para solucionar"</em> seus desafios!</p>
            <a class="btn btn-primary btn-lg"  href="https://ravunana.netlify.com/" role="button">RAVUNANA, LDA</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 rvMoedaNacional > Moeda nacional  </h1>
