<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.regraMovimentacaoCredito.home.title">Regra Movimentacao Creditos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regra-movimentacao-credito" [routerLink]="['/regra-movimentacao-credito/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.regraMovimentacaoCredito.home.createLabel">
            Create a new Regra Movimentacao Credito
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="regraMovimentacaoCreditos?.length === 0">
        <span jhiTranslate="mandaApp.regraMovimentacaoCredito.home.notFound">No regraMovimentacaoCreditos found</span>
    </div>
    <div class="table-responsive" *ngIf="regraMovimentacaoCreditos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mandaApp.regraMovimentacaoCredito.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaDescricao"><span jhiTranslate="mandaApp.regraMovimentacaoCredito.conta">Conta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let regraMovimentacaoCredito of regraMovimentacaoCreditos ;trackBy: trackId">
                <td><a [routerLink]="['/regra-movimentacao-credito', regraMovimentacaoCredito.id, 'view' ]">{{regraMovimentacaoCredito.id}}</a></td>
                <td>{{regraMovimentacaoCredito.descricao}}</td>
                <td>
                    <div *ngIf="regraMovimentacaoCredito.contaId">
                        <a [routerLink]="['/conta', regraMovimentacaoCredito.contaId , 'view' ]" >{{regraMovimentacaoCredito.contaDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/regra-movimentacao-credito', regraMovimentacaoCredito.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/regra-movimentacao-credito', regraMovimentacaoCredito.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(regraMovimentacaoCredito)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="regraMovimentacaoCreditos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
