<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.estoqueConfig.home.title">Estoque Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estoque-config" [routerLink]="['/estoque-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.estoqueConfig.home.createLabel">
            Create a new Estoque Config
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="estoqueConfigs?.length === 0">
        <span jhiTranslate="mandaApp.estoqueConfig.home.notFound">No estoqueConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="estoqueConfigs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produtoNome"><span jhiTranslate="mandaApp.estoqueConfig.produto">Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaVendaDescricao"><span jhiTranslate="mandaApp.estoqueConfig.contaVenda">Conta Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaCompraDescricao"><span jhiTranslate="mandaApp.estoqueConfig.contaCompra">Conta Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaImobilizadoDescricao"><span jhiTranslate="mandaApp.estoqueConfig.contaImobilizado">Conta Imobilizado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="devolucaoCompraDescricao"><span jhiTranslate="mandaApp.estoqueConfig.devolucaoCompra">Devolucao Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="devolucaoVendaDescricao"><span jhiTranslate="mandaApp.estoqueConfig.devolucaoVenda">Devolucao Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estoqueConfig of estoqueConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/estoque-config', estoqueConfig.id, 'view' ]">{{estoqueConfig.id}}</a></td>
                <td>
                    <div *ngIf="estoqueConfig.produtoId">
                        <a [routerLink]="['/produto', estoqueConfig.produtoId , 'view' ]" >{{estoqueConfig.produtoNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estoqueConfig.contaVendaId">
                        <a [routerLink]="['/conta', estoqueConfig.contaVendaId , 'view' ]" >{{estoqueConfig.contaVendaDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estoqueConfig.contaCompraId">
                        <a [routerLink]="['/conta', estoqueConfig.contaCompraId , 'view' ]" >{{estoqueConfig.contaCompraDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estoqueConfig.contaImobilizadoId">
                        <a [routerLink]="['/conta', estoqueConfig.contaImobilizadoId , 'view' ]" >{{estoqueConfig.contaImobilizadoDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estoqueConfig.devolucaoCompraId">
                        <a [routerLink]="['/conta', estoqueConfig.devolucaoCompraId , 'view' ]" >{{estoqueConfig.devolucaoCompraDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estoqueConfig.devolucaoVendaId">
                        <a [routerLink]="['/conta', estoqueConfig.devolucaoVendaId , 'view' ]" >{{estoqueConfig.devolucaoVendaDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estoque-config', estoqueConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estoque-config', estoqueConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(estoqueConfig)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="estoqueConfigs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
