<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.contaCredito.home.title">Conta Creditos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conta-credito" [routerLink]="['/conta-credito/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.contaCredito.home.createLabel">
            Create a new Conta Credito
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contaCreditos?.length === 0">
        <span jhiTranslate="mandaApp.contaCredito.home.notFound">No contaCreditos found</span>
    </div>
    <div class="table-responsive" *ngIf="contaCreditos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.contaCredito.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.contaCredito.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contaCreditarDescricao"><span jhiTranslate="mandaApp.contaCredito.contaCreditar">Conta Creditar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lancamentoCreditoHistorico"><span jhiTranslate="mandaApp.contaCredito.lancamentoCredito">Lancamento Credito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contaCredito of contaCreditos ;trackBy: trackId">
                <td><a [routerLink]="['/conta-credito', contaCredito.id, 'view' ]">{{contaCredito.id}}</a></td>
                <td>{{contaCredito.valor}}</td>
                <td>{{contaCredito.data | date:'medium'}}</td>
                <td>
                    <div *ngIf="contaCredito.contaCreditarId">
                        <a [routerLink]="['/conta', contaCredito.contaCreditarId , 'view' ]" >{{contaCredito.contaCreditarDescricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contaCredito.lancamentoCreditoId">
                        <a [routerLink]="['/escrituracao-contabil', contaCredito.lancamentoCreditoId , 'view' ]" >{{contaCredito.lancamentoCreditoHistorico}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conta-credito', contaCredito.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conta-credito', contaCredito.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(contaCredito)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contaCreditos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
