<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.relacionamentoPessoa.home.title">Relacionamento Pessoas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-relacionamento-pessoa" [routerLink]="['/relacionamento-pessoa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.relacionamentoPessoa.home.createLabel">
            Create a new Relacionamento Pessoa
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="relacionamentoPessoas?.length === 0">
        <span jhiTranslate="mandaApp.relacionamentoPessoa.home.notFound">No relacionamentoPessoas found</span>
    </div>
    <div class="table-responsive" *ngIf="relacionamentoPessoas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="grauParentesco"><span jhiTranslate="mandaApp.relacionamentoPessoa.grauParentesco">Grau Parentesco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deNome"><span jhiTranslate="mandaApp.relacionamentoPessoa.de">De</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paraNome"><span jhiTranslate="mandaApp.relacionamentoPessoa.para">Para</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relacionamentoPessoa of relacionamentoPessoas ;trackBy: trackId">
                <td><a [routerLink]="['/relacionamento-pessoa', relacionamentoPessoa.id, 'view' ]">{{relacionamentoPessoa.id}}</a></td>
                <td>{{relacionamentoPessoa.grauParentesco}}</td>
                <td>
                    <div *ngIf="relacionamentoPessoa.deId">
                        <a [routerLink]="['/pessoa', relacionamentoPessoa.deId , 'view' ]" >{{relacionamentoPessoa.deNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="relacionamentoPessoa.paraId">
                        <a [routerLink]="['/pessoa', relacionamentoPessoa.paraId , 'view' ]" >{{relacionamentoPessoa.paraNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/relacionamento-pessoa', relacionamentoPessoa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/relacionamento-pessoa', relacionamentoPessoa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(relacionamentoPessoa)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="relacionamentoPessoas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
