<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-item-compra-heading" jhiTranslate="mandaApp.itemCompra.home.createOrEditLabel">Create or edit a
                Item Compra</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="row">

                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.produto"
                            for="field_produto">Produto</label>
                        <p-autoComplete id="field_hierarquia" name="hierarquia" field="nome" [suggestions]="produtos"
                            (completeMethod)="searchProdutos($event)" (onSelect)="onSelectProduto($event)" required>
                        </p-autoComplete>
                        <!-- <select class="form-control" id="field_produto" name="produto" formControlName="produtoId">
                                    <option *ngIf="!editForm.get('produtoId').value" [ngValue]="null" selected></option>
                                    <option [ngValue]="produtoOption.id" *ngFor="let produtoOption of produtos; trackBy: trackProdutoById">{{produtoOption.nome}}</option>
                                </select> -->
                        <div
                            *ngIf="editForm.get('produtoId').invalid && (editForm.get('produtoId').dirty || editForm.get('produtoId').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('produtoId').errors.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.quantidade"
                            for="field_quantidade">Quantidade</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                                formControlName="quantidade" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">unidade</span>
                            </div>
                        </div>
                        <div
                            *ngIf="editForm.get('quantidade').invalid && (editForm.get('quantidade').dirty || editForm.get('quantidade').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('quantidade').errors.min"
                                jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                                This field should be at least 1.
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.get('quantidade')?.errors?.number"
                                jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.valor"
                            for="field_valor">Valor</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="valor" id="field_valor"
                                formControlName="valor" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">{{ moedaNacional }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.desconto"
                            for="field_desconto">Desconto</label>

                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="desconto" id="field_desconto"
                                formControlName="desconto" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                        <div
                            *ngIf="editForm.get('desconto').invalid && (editForm.get('desconto').dirty || editForm.get('desconto').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('desconto').errors.min"
                                jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger" *ngIf="editForm.get('desconto').errors.max"
                                jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                This field cannot be more than 100.
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.get('desconto')?.errors?.number"
                                jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>SubTotal</label>
                        <div class="input-group mb-3">
                            <input type="number" formControlName="subTotal" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">{{ moedaNacional }}</span>
                            </div>
                        </div>
                        <!-- <label class="text-muted font-italic">(Kz)</label>
                                <input type="number" formControlName="subTotal" class="form-control" > -->
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.dataSolicitacao" for="field_dataSolicitacao">Data Solicitacao</label>
                    <div class="d-flex">
                        <input id="field_dataSolicitacao" type="datetime-local" class="form-control" name="dataSolicitacao" formControlName="dataSolicitacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.dataEntrega"
                        for="field_dataEntrega">Data Entrega</label>
                    <div class="d-flex">
                        <input id="field_dataEntrega" type="datetime-local" class="form-control" name="dataEntrega"
                            formControlName="dataEntrega" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.solicitante"
                        for="field_solicitante">Solicitante</label>
                    <select class="form-control" id="field_solicitante" name="solicitante"
                        formControlName="solicitanteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">
                            {{userOption.login}}</option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.compra" for="field_compra">Compra</label>
                    <select class="form-control" id="field_compra" name="compra" formControlName="compraId">
                        <option *ngIf="!editForm.get('compraId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="compraOption.id" *ngFor="let compraOption of compras; trackBy: trackCompraById">{{compraOption.numero}}</option>
                    </select>
                    <div *ngIf="editForm.get('compraId').invalid && (editForm.get('compraId').dirty || editForm.get('compraId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('compraId').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.fornecedor"
                        for="field_fornecedor">Fornecedor</label>
                    <select class="form-control" id="field_fornecedor" name="fornecedor" formControlName="fornecedorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fornecedorOption.id"
                            *ngFor="let fornecedorOption of fornecedors; trackBy: trackFornecedorById">
                            {{fornecedorOption.numero}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.status"
                        for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="statusId">
                        <option *ngIf="!editForm.get('statusId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="fluxoDocumentoOption.id"
                            *ngFor="let fluxoDocumentoOption of fluxodocumentos; trackBy: trackFluxoDocumentoById">
                            {{fluxoDocumentoOption.nome}}</option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('statusId').invalid && (editForm.get('statusId').dirty || editForm.get('statusId').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('statusId').errors.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.itemCompra.descricao"
                        for="field_descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" id="field_descricao"
                        formControlName="descricao"></textarea>
                </div>
                <hr>

                <div *ngIf="opcao === 'new'">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Finalizar inclusão</span>
                    </button>
                <button (click)="onAddItem()" type="button" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-success">
                    <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Incluir item à compra</span>
                </button>
                </div>
                <hr>
            </div>
            <div *ngIf="opcao === 'update' " >
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
