<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.compostoProduto.home.title">Composto Produtos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-composto-produto" [routerLink]="['/composto-produto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.compostoProduto.home.createLabel">
            Create a new Composto Produto
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="compostoProdutos?.length === 0">
        <span jhiTranslate="mandaApp.compostoProduto.home.notFound">No compostoProdutos found</span>
    </div>
    <div class="table-responsive" *ngIf="compostoProdutos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantidade"><span jhiTranslate="mandaApp.compostoProduto.quantidade">Quantidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="mandaApp.compostoProduto.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="permanente"><span jhiTranslate="mandaApp.compostoProduto.permanente">Permanente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produtoNome"><span jhiTranslate="mandaApp.compostoProduto.produto">Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unidadeNome"><span jhiTranslate="mandaApp.compostoProduto.unidade">Unidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="compostoNome"><span jhiTranslate="mandaApp.compostoProduto.composto">Composto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compostoProduto of compostoProdutos ;trackBy: trackId">
                <td><a [routerLink]="['/composto-produto', compostoProduto.id, 'view' ]">{{compostoProduto.id}}</a></td>
                <td>{{compostoProduto.quantidade}}</td>
                <td>{{compostoProduto.valor}}</td>
                <td>{{compostoProduto.permanente}}</td>
                <td>
                    <div *ngIf="compostoProduto.produtoId">
                        <a [routerLink]="['/produto', compostoProduto.produtoId , 'view' ]" >{{compostoProduto.produtoNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compostoProduto.unidadeId">
                        <a [routerLink]="['/unidade-medida', compostoProduto.unidadeId , 'view' ]" >{{compostoProduto.unidadeNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compostoProduto.compostoId">
                        <a [routerLink]="['/produto', compostoProduto.compostoId , 'view' ]" >{{compostoProduto.compostoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/composto-produto', compostoProduto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/composto-produto', compostoProduto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(compostoProduto)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="compostoProdutos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
