<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-venda-heading" jhiTranslate="mandaApp.venda.home.createOrEditLabel">Create or edit a Venda</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.venda.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div> -->
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.venda.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="mandaApp.venda.cliente"
                                for="field_cliente">Cliente</label>
                            <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                                <option *ngIf="!editForm.get('clienteId').value" [ngValue]="null" selected></option>
                                <option [ngValue]="clienteOption.id"
                                    *ngFor="let clienteOption of clientes; trackBy: trackClienteById">
                                    {{clienteOption.numero}}</option>
                            </select>
                            <div
                                *ngIf="editForm.get('clienteId').invalid && (editForm.get('clienteId').dirty || editForm.get('clienteId').touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('clienteId').errors.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="mandaApp.venda.tipoDocumento"
                                for="field_tipoDocumento">Tipo Documento</label>
                            <select class="form-control" id="field_tipoDocumento" name="tipoDocumento"
                                formControlName="tipoDocumentoId">
                                <option *ngIf="!editForm.get('tipoDocumentoId').value" [ngValue]="null" selected>
                                </option>
                                <option [ngValue]="documentoComercialOption.id"
                                    *ngFor="let documentoComercialOption of documentocomercials; trackBy: trackDocumentoComercialById">
                                    {{documentoComercialOption.nome}}</option>
                            </select>
                            <div
                                *ngIf="editForm.get('tipoDocumentoId').invalid && (editForm.get('tipoDocumentoId').dirty || editForm.get('tipoDocumentoId').touched)">
                                <small class="form-text text-danger"
                                    *ngIf="editForm.get('tipoDocumentoId').errors.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="mandaApp.venda.vendedor"
                                for="field_vendedor">Vendedor</label>
                            <select class="form-control" id="field_vendedor" name="vendedor"
                                formControlName="vendedorId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="userOption.id"
                                    *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label jhiTranslate="mandaApp.lancamentoFinanceiro.imposto"
                                for="field_impostos">Imposto</label>
                            <select class="form-control" id="field_impostos" multiple name="impostos"
                                formControlName="impostos">
                                <option [ngValue]="getSelected(editForm.get('impostos').value, impostoOption)"
                                    *ngFor="let impostoOption of impostos;">{{impostoOption.codigoImposto}}</option>
                            </select>
                            <div
                                *ngIf="editForm.get('impostos').invalid && (editForm.get('impostos').dirty || editForm.get('impostos').touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('impostos').errors.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label"
                                jhiTranslate="mandaApp.lancamentoFinanceiro.formaLiquidacao"
                                for="field_formaLiquidacao">Forma Liquidacao</label>
                            <select class="form-control" id="field_formaLiquidacao" name="formaLiquidacao"
                                formControlName="formaLiquidacaoId">
                                <option *ngIf="!editForm.get('formaLiquidacaoId').value" [ngValue]="null" selected>
                                </option>
                                <option [ngValue]="formaLiquidacaoOption.id"
                                    *ngFor="let formaLiquidacaoOption of formaliquidacaos;">
                                    {{formaLiquidacaoOption.nome}}</option>
                            </select>
                            <div
                                *ngIf="editForm.get('formaLiquidacaoId').invalid && (editForm.get('formaLiquidacaoId').dirty || editForm.get('formaLiquidacaoId').touched)">
                                <small class="form-text text-danger"
                                    *ngIf="editForm.get('formaLiquidacaoId').errors.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <p-accordion>
                    <p-accordionTab header="Produtos ou Serviços" [selected]="true">
                        <table class="table" *ngIf="items.length > 0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> Fornecedor </th>
                                    <th scope="col">Produto | Serviço</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Desconto</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items; let i = index">
                                    <th scope="row"> {{ item.produtoId }} </th>
                                    <td> {{ item.fornecedorNumero }} </td>
                                    <td> {{ item.produtoNome }} </td>
                                    <td> {{ item.valor | currency: 'AOA' }}
                                    <td> {{ item.quantidade | number }} </td>
                                    <td> {{ item.desconto/100 | percent }} </td>
                                    <td>
                                        <!-- {{ produtoService.calcularSubTotalItem(item.quantidade, item.desconto, item.valor)   | currency: moedaNacional}} -->
                                    </td>
                                    <td>
                                        <!-- <button (click)="onDeleteItem(i)" type="button" class="btn btn-danger">
                                            <fa-icon [icon]="'trash'"></fa-icon>
                                        </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success" type="button" [routerLink]="['/item-venda/new']"
                            [queryParams]="{ op: 'new'}"> Adiconar item
                        </button>
                    </p-accordionTab>
                    <p-accordionTab header="Recebimentos" [selected]="true">
                        <table class="table" *ngIf="pagamentos.length > 0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Valor</th>
                                    <th> Banco | Caixa </th>
                                    <th> Liquidado? </th>
                                    <th> Metodo liquidação </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pagamento of pagamentos; let i = index">
                                    <td> {{ i}} </td>
                                    <td> {{ pagamento.valor | currency : pagamento.moedaCodigo }} </td>
                                    <td> {{ pagamento.coordenadaDescricao }} </td>
                                    <td> {{ pagamento.liquidado }} </td>
                                    <td> {{ pagamento.metodoLiquidacaoNome }} </td>
                                    <td>
                                        <!-- <button type="button" class="btn btn-danger" (click)="onDeleteValor(i)">
                                            <fa-icon [icon]="'trash'"></fa-icon>
                                        </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success" type="button" [routerLink]="['/detalhe-lancamento/new']"
                            [queryParams]="{ op: 'new'}" [queryParams]="{ entidade: 'venda'}"> Novo valor
                        </button>
                    </p-accordionTab>
                </p-accordion>
                <hr>

                <hr>
                <div class="row">

                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.venda.observacaoGeral"
                            for="field_observacaoGeral">Observacao Geral</label>
                        <textarea class="form-control" name="observacaoGeral" id="field_observacaoGeral"
                            formControlName="observacaoGeral"></textarea>
                    </div>
                    <div class="form-group col">
                        <label class="form-control-label" jhiTranslate="mandaApp.venda.observacaoInterna"
                            for="field_observacaoInterna">Observacao Interna</label>
                        <textarea class="form-control" name="observacaoInterna" id="field_observacaoInterna"
                            formControlName="observacaoInterna"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mandaApp.venda.empresa"
                        for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id"
                            *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nome}}
                        </option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
