<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="venda">
            <h2><span jhiTranslate="mandaApp.venda.detail.title">Venda</span> {{venda.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mandaApp.venda.numero">Numero</span></dt>
                <dd>
                    <span>{{venda.numero}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.data">Data</span></dt>
                <dd>
                    <span>{{venda.data}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.observacaoGeral">Observacao Geral</span></dt>
                <dd>
                    <span>{{venda.observacaoGeral}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.observacaoInterna">Observacao Interna</span></dt>
                <dd>
                    <span>{{venda.observacaoInterna}}</span>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.vendedor">Vendedor</span></dt>
                <dd>
                    {{venda.vendedorLogin}}
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="venda.clienteId">
                        <a [routerLink]="['/cliente', venda.clienteId, 'view']">{{venda.clienteNumero}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.tipoDocumento">Tipo Documento</span></dt>
                <dd>
                    <div *ngIf="venda.tipoDocumentoId">
                        <a [routerLink]="['/documento-comercial', venda.tipoDocumentoId, 'view']">{{venda.tipoDocumentoNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mandaApp.venda.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="venda.empresaId">
                        <a [routerLink]="['/empresa', venda.empresaId, 'view']">{{venda.empresaNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/venda', venda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
