<div>
    <h2 id="page-heading">
        <span jhiTranslate="mandaApp.serieDocumento.home.title">Serie Documentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-serie-documento" [routerLink]="['/serie-documento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mandaApp.serieDocumento.home.createLabel">
            Create a new Serie Documento
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serieDocumentos?.length === 0">
        <span jhiTranslate="mandaApp.serieDocumento.home.notFound">No serieDocumentos found</span>
    </div>
    <div class="table-responsive" *ngIf="serieDocumentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="serie"><span jhiTranslate="mandaApp.serieDocumento.serie">Serie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoLancamentoFinanceiro"><span jhiTranslate="mandaApp.serieDocumento.codigoLancamentoFinanceiro">Codigo Lancamento Financeiro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoEscrituracaoContabil"><span jhiTranslate="mandaApp.serieDocumento.codigoEscrituracaoContabil">Codigo Escrituracao Contabil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoVenda"><span jhiTranslate="mandaApp.serieDocumento.codigoVenda">Codigo Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoCompra"><span jhiTranslate="mandaApp.serieDocumento.codigoCompra">Codigo Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoCliente"><span jhiTranslate="mandaApp.serieDocumento.codigoCliente">Codigo Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoFornecedor"><span jhiTranslate="mandaApp.serieDocumento.codigoFornecedor">Codigo Fornecedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoDevolucaoVenda"><span jhiTranslate="mandaApp.serieDocumento.codigoDevolucaoVenda">Codigo Devolucao Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoDevolucaoCompra"><span jhiTranslate="mandaApp.serieDocumento.codigoDevolucaoCompra">Codigo Devolucao Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoProduto"><span jhiTranslate="mandaApp.serieDocumento.codigoProduto">Codigo Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="mandaApp.serieDocumento.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaNome"><span jhiTranslate="mandaApp.serieDocumento.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serieDocumento of serieDocumentos ;trackBy: trackId">
                <td><a [routerLink]="['/serie-documento', serieDocumento.id, 'view' ]">{{serieDocumento.id}}</a></td>
                <td>{{serieDocumento.serie}}</td>
                <td>{{serieDocumento.codigoLancamentoFinanceiro}}</td>
                <td>{{serieDocumento.codigoEscrituracaoContabil}}</td>
                <td>{{serieDocumento.codigoVenda}}</td>
                <td>{{serieDocumento.codigoCompra}}</td>
                <td>{{serieDocumento.codigoCliente}}</td>
                <td>{{serieDocumento.codigoFornecedor}}</td>
                <td>{{serieDocumento.codigoDevolucaoVenda}}</td>
                <td>{{serieDocumento.codigoDevolucaoCompra}}</td>
                <td>{{serieDocumento.codigoProduto}}</td>
                <td>{{serieDocumento.data | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="serieDocumento.empresaId">
                        <a [routerLink]="['/empresa', serieDocumento.empresaId , 'view' ]" >{{serieDocumento.empresaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/serie-documento', serieDocumento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/serie-documento', serieDocumento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(serieDocumento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serieDocumentos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
